# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\myWorks\VueSpring\2020020186+冯李林+期末源码+报告\2020020186+冯李林+期末源码+报告\BookManagement\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
